<?xml version="1.0"?>
<!--
/**
* MindArc_FatZebra default configuration
*
* @category    MindArc
* @package     MindArc_FatZebra
* @author      John Vella
* @copyright   MindArc (http://mindarc.com.au)
* @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <mindarc_fatzebra>
                <active>0</active>
                <model>MindArc\FatZebra\Model\Payment</model>
                <payment_action>authorize_capture</payment_action>
                <title>Credit Card</title>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <cctypes>AE,VI,MC,JCB</cctypes>
                <allowspecific>0</allowspecific>
                <username>TEST</username>
                <token>TEST</token>
                <shared_secret>TEST</shared_secret>
            </mindarc_fatzebra>
        </payment>
    </default>
</config>
