<?xml version="1.0"?>
<!--
/**
* PMNTS_Gateway default configuration
*
* @category    PMNTS
* @package     PMNTS_Gateway
* @copyright   PMNTS (http://PMNTS.io)
* @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <pmnts_gateway>
                <active>0</active>
                <model>PmntsPayment</model>
                <payment_action>authorize_capture</payment_action>
                <title>Credit Card</title>
                <order_status>processing</order_status>
                <cctypes>AE,VI,MC,JCB</cctypes>
                <currencies>AUD</currencies>
                <allowspecific>0</allowspecific>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <can_refund>1</can_refund>
                <sort_order>1</sort_order>
                <iframe_css>https://pmnts-resources.s3.amazonaws.com/magento2/magento2-iframe.css</iframe_css>
                <can_use_checkout>1</can_use_checkout>
            </pmnts_gateway>
            <pmnts_gateway_vault>
                <model>PmntsVaultProvider</model>
                <title>My Saved Cards</title>
            </pmnts_gateway_vault>
        </payment>
    </default>
</config>
